
@font-face{
	font-family: "Eurostile";
	src: url("../../Starfield/Eurostile.ttf");
	
body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-family: "Open Sans";
	font-style: italic;
	font-size: 90%;
}

